<header>
  <nav class="navbar navbar-expand-md fixed-top estiloNavbar">
    <a class="navbar-brand" (click)="link(0)">Onda Dulcito</a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="link(1)">Tortas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="link(2)">Galletas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="link(3)">Otros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="link(4)">Historias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="link(5)">Tips</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="buscar recetas" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="submit" id="botonBuscar">Buscar</button>
      </form>
    </div>
  </nav>
</header>
