.marketing .col-lg-4 {
  margin-bottom: 1.2rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 300;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 100;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 5rem;
  }
}



body{
  font-family:  sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS' !important;
  color: #414c47 !important;
}

/* Background color nav bar*/

.estiloNavbar{
  background-color: #daffef;
  font-size: 1.2rem;

}

.estiloNavbar a{
  color: #57665f;

}
