<div class="ml-4 mr-4">
  <h2>Panel</h2>
<div class="flex" id="panel">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="horizontal" [destroyOnHide]="true">
    <li ngbNavItem="Principal">
      <a ngbNavLink>Principal</a>
      <ng-template ngbNavContent>
        <app-principal></app-principal>
      </ng-template>
    </li>
    <li ngbNavItem="Articulos">
      <a ngbNavLink>Articulos</a>
      <ng-template ngbNavContent>
        <app-articulos></app-articulos>
      </ng-template>
    </li>
    <li ngbNavItem="Publicar">
      <a ngbNavLink>Publicar</a>
      <ng-template ngbNavContent>
        <app-nuevo></app-nuevo>
      </ng-template>
    </li>
    <li ngbNavItem="Salir">
      <a ngbNavLink>Salir</a>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ml-4"></div>
</div>
</div>
